@font-face {
  font-family: "iconfont"; /* Project id 4438969 */
  src: url('iconfont.woff2?t=1725453243543') format('woff2'),
       url('iconfont.woff?t=1725453243543') format('woff'),
       url('iconfont.ttf?t=1725453243543') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-iconQQ:before {
  content: "\e6e6";
}

.icon-QQ1:before {
  content: "\e623";
}

.icon-up01:before {
  content: "\e7eb";
}

.icon-fasong:before {
  content: "\e652";
}

.icon-calendar-check:before {
  content: "\e7d3";
}

.icon-user:before {
  content: "\e7ae";
}

.icon-mobile:before {
  content: "\e7b2";
}

.icon-mail:before {
  content: "\e7de";
}

.icon-rili2:before {
  content: "\e62b";
}

.icon-guanbi:before {
  content: "\e609";
}

.icon-liuyanguanli:before {
  content: "\e642";
}

.icon-paixu-jiangxu:before {
  content: "\e684";
}

.icon-paixu-shengxu:before {
  content: "\e685";
}

.icon-error:before {
  content: "\e668";
}

.icon-success:before {
  content: "\e67e";
}

.icon-warning:before {
  content: "\e681";
}

.icon-xiaofengche:before {
  content: "\e6a7";
}

.icon-xiangsu-xuehua:before {
  content: "\e60a";
}

.icon-sekuaibiaoqian:before {
  content: "\e6e5";
}

.icon-daohang:before {
  content: "\e678";
}

.icon-shezhi:before {
  content: "\e608";
}

.icon-down:before {
  content: "\e695";
}

.icon-pinglun:before {
  content: "\e607";
}

.icon-dianzan1:before {
  content: "\e816";
}

.icon-rili1:before {
  content: "\e601";
}

.icon-icon-gengduo:before {
  content: "\e615";
}

.icon-tongzhi1:before {
  content: "\e606";
}

.icon-down01:before {
  content: "\e7ec";
}

.icon-gitee-fill-round:before {
  content: "\e686";
}

.icon-QQ:before {
  content: "\e882";
}

.icon-iconweixin:before {
  content: "\e62d";
}

.icon-icon_bilibili:before {
  content: "\e600";
}

.icon-icon-github:before {
  content: "\e70b";
}

.icon-aixin:before {
  content: "\e6bb";
}

.icon-biaoqian:before {
  content: "\e6bc";
}

.icon-dingdan:before {
  content: "\e6bd";
}

.icon-dianzan:before {
  content: "\e6be";
}

.icon-deng:before {
  content: "\e6bf";
}

.icon-dingwei:before {
  content: "\e6c0";
}

.icon-dengpao:before {
  content: "\e6c1";
}

.icon-erji:before {
  content: "\e6c2";
}

.icon-erji1:before {
  content: "\e6c3";
}

.icon-fenlei:before {
  content: "\e6c4";
}

.icon-faxian:before {
  content: "\e6c5";
}

.icon-caijian:before {
  content: "\e6c6";
}

.icon-gouwuche:before {
  content: "\e6c7";
}

.icon-gangbi:before {
  content: "\e6c8";
}

.icon-huihua:before {
  content: "\e6c9";
}

.icon-huangguan:before {
  content: "\e6ca";
}

.icon-huojian:before {
  content: "\e6cb";
}

.icon-jiqiren:before {
  content: "\e6cc";
}

.icon-jita:before {
  content: "\e6cd";
}

.icon-lanzi:before {
  content: "\e6ce";
}

.icon-liwu:before {
  content: "\e6cf";
}

.icon-jiaojuan:before {
  content: "\e6d0";
}

.icon-qizhi:before {
  content: "\e6d1";
}

.icon-rili:before {
  content: "\e6d2";
}

.icon-shalou:before {
  content: "\e6d3";
}

.icon-remen:before {
  content: "\e6d4";
}

.icon-shanchu:before {
  content: "\e6d5";
}

.icon-shangchuan:before {
  content: "\e6d6";
}

.icon-shouye:before {
  content: "\e6d7";
}

.icon-shoubiao:before {
  content: "\e6d8";
}

.icon-shipin:before {
  content: "\e6d9";
}

.icon-shu:before {
  content: "\e6da";
}

.icon-shu1:before {
  content: "\e6db";
}

.icon-tongzhi:before {
  content: "\e6dc";
}

.icon-xiazai:before {
  content: "\e6dd";
}

.icon-wode:before {
  content: "\e6de";
}

.icon-xiangce:before {
  content: "\e6df";
}

.icon-wenjianjia:before {
  content: "\e6e0";
}

.icon-xiangji:before {
  content: "\e6e1";
}

.icon-xunzhang:before {
  content: "\e6e2";
}

.icon-zuanshi:before {
  content: "\e6e3";
}

.icon-xiaoxi:before {
  content: "\e6e4";
}

