$themeColor: rgb(20, 37, 72);
$borderColor: rgba(193, 197, 206, 0.5);
$boxBorderColor: rgba(229, 232, 236, 0.4);
$smallTextFontSize: 13px;
$smallTextColor: #a8abb2;
$homeBoxShadow: 0px 10px 22px rgba(0, 0, 0, 0.18);
$pageBoxShadow: 0px 0px 6px rgba(0, 0, 0, 0.1);
$homeborderRadius: 4px;